//- ========================================
//- Social Navigation
//- ========================================

ul
  li
    a(
    href="",
    target="_blank"
    )
      span.bottle
        +symbol("facebook")
      span.visible-for-screen-readers Facebook
  li
    a(
    href="",
    target="_blank"
    ) 
      span.bottle
        +symbol("twitter")
      span.visible-for-screen-readers Twitter
  li
    a(
    href="",
    target="_blank"
    ) 
      span.bottle
        +symbol("youtube")
      span.visible-for-screen-readers Youtube
