/* ========================================
// Anchors
// ===================================== */

a {
  text-decoration: none;
  transition:
    background .2s,
    box-shadow .2s,
    color .2s;

  &:active {}

  &:hover {}

}


/* ========================================
// Blockquote / Cite
// ===================================== */

blockquote {
  position: relative;
  margin: 0;
  padding: em(30, 22) 0 0 em(40, 22);
  font-size: em(22);
  line-height: nu(27, 22);

  @mixin media $wooser {
    border-left: 1px solid #fff;
    padding-top: em(60, 22);
    padding-left: em(80, 22);
    padding-bottom: em(30, 22);
  }

  @mixin media $aldnoah {
    padding-left: em(100, 22);
  }

  &:before {
    position: absolute;
    top: em(-5, 100);
    left: em(5, 100);
    font-size: em(100, 22);
    font-weight: 100;
    content: '\201C';
    color: $m1;

    @mixin media $wooser {
      top: em(25, 100);
      left: em(35, 100);
    }

    @mixin media $aldnoah {
      left: em(55, 100);
    }

  }

}

cite {
  display: block;
  margin-top: em(20, 22);
  font-style: normal;
  font-weight: 100;

  &:before {
    content: '';
  }

}


/* ========================================
// Lists
// ===================================== */

ul,
ol {
  margin-top: 0;
  margin-bottom: em($push);
  padding-left: em(20);
}

  li {
    margin-bottom: em(15);
  }


/* ========================================
// Paragraphs
// ===================================== */

p {
  margin-top: 0;
  margin-bottom: em($push);
}

.tiny-print {
  font-size: em(17);
  line-height: nu(20, 17);
}

.mini-print {
  font-size: em(14);
  line-height: nu(18, 14);
}


/* ========================================
// Tables
// ===================================== */

table {
  width: 100%;
  border-spacing: 0;
  margin-bottom: em($push);

  th,
  td {
    padding: rem(10) rem($gutter);
  }

  th {
    @mixin h4;
    font-weight: normal;
    text-align: left;
    background: rgba(30, 0, 0, .075);
  }

  td {}

}

  /* Every td in every odd row */
  table tr:nth-of-type(even) td {
    background: rgba(30, 0, 0, .025);
  }


/* ========================================
// Lead In
// ===================================== */

.lead-in {
  @mixin h4;
}


/* ========================================
// Horizontal Rule
// ===================================== */

hr {
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: em($push) 0;
}


/* ========================================
// Utilities
// ===================================== */

.normal {
  font-weight: normal;
}
