/* ========================================
// Imports
// ===================================== */

@mixin font-face Montserrat, Montserrat-Light, normal, 100;


/* ========================================
// Headings
// ===================================== */

@define-mixin default-heading {
  margin-top: 0;
  font-weight: 100;
}


/* 1:Heading One */

@define-mixin h1 {
  @mixin default-heading;
  margin-bottom: em(22, $h2Size);
  font-size: em($h2Size);
  line-height: nu($h2Line, $h2Size);

  @mixin media $medium {
    margin-bottom: em(22, $h1Size);
    font-size: em($h1Size);
    line-height: nu($h1Line, $h1Size);
  }

}

h1,
.h1 {
  @mixin h1;
}


/* 2:Heading Two */

@define-mixin h2 {
  @mixin default-heading;
  font-size: em($h3Size);
  line-height: nu($h3Line, $h3Size);

  @mixin media $medium {
    font-size: em($h2Size);
    line-height: nu($h2Line, $h2Size);
  }

}

h2,
.h2 {
  @mixin h2;
}


/* 3:Heading Three */

@define-mixin h3 {
  @mixin default-heading;
  font-size: em($h4Size);
  line-height: nu($h4Line, $h4Size);

  @mixin media $medium {
    font-size: em($h3Size);
    line-height: nu($h3Line, $h3Size);
  }

}

h3,
.h3 {
  @mixin h3;
}


/* 4:Heading Four */

@define-mixin h4 {
  @mixin default-heading;
  margin-bottom: em(20, $h5Size);
  font-size: em($h5Size);
  font-weight: 700;
  line-height: nu($h5Line, $h5Size);
  color: $m1;

  @mixin media $medium {
    margin-bottom: em(20, $h4Size);
    font-size: em($h4Size);
    line-height: nu($h4Line, $h4Size);
  }

}

h4,
.h4 {
  @mixin h4;
}


/* 5:Heading Five */

@define-mixin h5 {
  @mixin default-heading;
  font-size: em($h6Size);
  line-height: nu($h6Line, $h6Size);

  @mixin media $medium {
    font-size: em($h5Size);
    line-height: nu($h5Line, $h5Size);
  }

}

h5,
.h5 {
  @mixin h5;
}


/* 6:Heading Six */

@define-mixin h6 {
  @mixin default-heading;
  font-size: em($h6Size);
  line-height: nu($h6Line, $h6Size);
}

h6,
.h6 {
  @mixin h6;
}
