/* ========================================
// Buttons
// ===================================== */

[class*='button'],
.mktoForm button.mktoButton {
  display: inline-block;
  vertical-align: top;
  border: 0;
  margin: em(5) em(10) em(5) 0;
  padding: em(15, 23) em(40, 23) em(14, 23);
  cursor: pointer;
  font-size: em(18);
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  background: $m1;
  border-radius: em(4, 23);
  color: #fff;
  outline: 0;
  transition:
    background .2s,
    box-shadow .2s,
    color .2s,
    transform .2s;

  @mixin media $medium {
    padding-right: em(80, 23);
    padding-left: em(80, 23);
    font-size: em(23);
  }

  &:hover {
    background: $m2;
  }

}


/* Additional Buttons
// ------------------------------------- */

.button {

  &--hollow {
    border: 1px solid;
    background: none;
    color: $m1;

    &:hover {}

  }

}


/* ========================================
// Site Logo/Link
// ===================================== */

/* If the site logo is text based */

.site__link {
  display: block;
  text-decoration: none;
}

/* If the site logo is image based */
/* Set the max-width to the logo's size */
/* overflow: hidden and white-space: nowrap prevent line breaks */

.site__logo-bottle {
  display: inline-block;
  max-width: em(260);
  width: 100%;
  padding: em(36) em($gutter) em(22);
  background: $m1;
  background:
    radial-gradient(
      ellipse at 50% 0,
        $m2,
        $m1 100%
    );
}

  .site__logo {
    display: block;
    overflow: hidden;
    height: em(42);
    white-space: nowrap;
    background: url('../images/logo.svg') no-repeat 0 50%;
    background-size: contain;
    color: transparent;

    &:hover {
      color: transparent;
    }

  }
