 !important/* ========================================
// Forms
// ===================================== */

/* Container
// ------------------------------------- */

form {}

  fieldset {
    border: 0;
    margin-bottom: em($push);
    padding: 0;
  }


/* Label
// ------------------------------------- */

label {
  margin-right: em(20);
}


/* Shared Input/Select/Textarea
// ------------------------------------- */

@define-mixin form-item-container {
  position: relative;
  overflow: hidden;
  border-radius: em(6);
}

@define-mixin form-item {
  width: 100%;
  border: 0;
  padding: em(12, 14);
  font-size: em(14);
  font-weight: 100;
  appearance: none;
  background: #fff;
  border-radius: inherit;
  color: $m1;
}


.input-field {
  @mixin form-item-container;
}

  .input-hint {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: em(50);
    background: $m1 url(../icons/chevron-down.svg) no-repeat 50% 50%;
    border-radius: 0 em(5, 14) em(5, 14) 0;
    box-shadow: inset 0 0 0 em(3, 14) #fff;
    transition: background .2s;

    &:hover {
      background-color: $m2;
    }

    &--select {
      pointer-events: none;
    }

    &--submit {
      background-image: url(../icons/chevron-right.svg);
    }

  }

    .input-hint__field {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      border: 0;
      padding: 0;
      background: none;
      color: transparent;
    }


/* Input
// ------------------------------------- */

input {

  &::placeholder {
    color: $m1;
  }

  &:disabled {}

  &:checked {}

  &[type='text'],
  &[type='email'] {
    @mixin form-item-container;
    @mixin form-item;
  }

  &[type='radio'],
  &[type='checkbox'] {
    height: em(15);
    width: em(15);
    border: 1px solid;
    cursor: pointer;
    appearance: none;
    transition:
      border .2s,
      background .2s;

    &:checked {
      background: currentColor;
    }

  }

  &[type='radio'] {
    border-radius: 100%;
  }

  &[type='range'] {}

}


/* Textarea
// ------------------------------------- */

textarea {
  @mixin form-item-container;
  @mixin form-item;
}


/* Select
// ------------------------------------- */

select {
  @mixin form-item;
  cursor: pointer;

  &:hover {

    + .input-hint {
      background-color: #bbb;
    }

  }

}


/* ========================================
// Unique Form Elements
// ===================================== */

.site-search {}


/* ========================================
// Marketo Form
// ===================================== */

.marketo-form {
  position: relative;
  display: none;
  padding: em(37) em(30) em(43);
  background: #fff;
  border-radius: em(4);

  @mixin media $wooser {
    display: block;
    opacity: 0;
    transform-origin: left bottom;
    transform: scale(.85);
    transition:
      opacity .3s,
      transform .3s;
  }

  @mixin media $aldnoah {
    padding-right: em(70);
    padding-left: em(70);
  }

  &.event-triggered {
    display: block;

    @mixin media $wooser {
      opacity: 1;
      transform: scale(1);
    }

  }

  [id*="mktoForm"] {
    width: 100% !important;
    padding: 0 !important;
    font-size: rem($bodySize) !important;
  }

    .mktoFieldWrap,
    .mktoFormCol {
      float: none !important;
      width: 100%;
    }

    .mktoFormCol {
      margin-bottom: em(28) !important;
    }

      .mktoLabel,
      .mktoGutter,
      .mktoOffset {
        display: none;
      }

      .mktoField {
        border: em(3) solid $m1 !important;
        padding: em(16) !important;
        height: auto !important;
        max-width: 100%;
        width: 100% !important;
        font-size: rem($bodySize) !important;
        border-radius: em(4);
      }

      .mktoButtonRow {
        display: block;
      }

        .mktoButtonWrap {
          margin-left: 0 !important;
        }

          .mktoButton {
            width: 100% !important;
            padding-top: em(18, 23) !important;
            padding-bottom: em(18, 23) !important;
            text-transform: uppercase;
          }

}

  .marketo__close {
    position: absolute;
    top: em(10);
    right: em(10);
    padding: em(15);
    cursor: pointer;
    border-radius: 100%;
    transition: background .2s;

    &:hover {
      background: $m1;

      svg {
        stroke: #fff;
      }

    }

    svg {
      display: block;
      stroke: $m1;
    }

  }
