/* ========================================
// Hero
// ===================================== */

.hero {
  background-position: 50% 50% !important;
  background-size: cover !important;

  &--empty {
    height: 40vw;
    min-height: em(240);
    max-height: em(500);
  }

  &--default {
    padding-top: em(100);
    padding-bottom: em(20);
  }

  &--cover {
    position: relative;
    padding: em(40) em($gutter);
    overflow: hidden;

    @mixin media $wooser {
      padding-top: em(90);
      padding-bottom: em(55);
    }

    &:before {
      @mixin cover;
      content: '';
      background: rgba(0, 0, 0, .5);
      background:
        linear-gradient(
          45deg,
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 0) 75%
        );
      mix-blend-mode: mulitply;

      .thank-you & {
        background: rgba(0, 0, 0, .35);
      }

    }

  }

  &--absolute {
    @mixin cover;
    z-index: -2;

    .thank-you & {
      filter: blur(em(5));
    }

  }

  &--expanded {
    padding-top: em(80);
    padding-bottom: em(80);

    @mixin media $aldnoah {
      padding-top: em(175);
      padding-bottom: em(175);
    }

  }

}
