/* ========================================
// Site Footer
// ===================================== */

.site__footer {
  position: relative;
  overflow: hidden;
  padding: em($push) em($gutter);
  background: $m1;
  background:
    radial-gradient(
      ellipse at 50% 0,
        $m2,
        $m1 50%
    );

  &:after {
    @mixin clear;
  }

}

  .lace {
    margin-bottom: em($push);

    @mixin media $huge {
      float: left;
      width: 72%;
      margin-bottom: 0;
    }

    @mixin media $gamagori {
      width: 75%;
    }

    p {
      margin-bottom: em(6, 17);
    }

  }

  .sole {

    @mixin media $huge {
      float: right;
      width: 28%;
    }

    @mixin media $gamagori {
      width: 25%;
    }

    .tiny-print {
      margin-bottom: em(4, 17);
    }

    .mini-print {
      margin-bottom: em(10, 14);
    }

  }
