/* ========================================
// Sections
// ===================================== */

main {
  position: relative;
  overflow: hidden;
  width: 100%;
}

  .content {
    padding: em(40) em($gutter);
  }


/* ========================================
// Situational
// ===================================== */

.block-out {
  overflow: hidden;
  width: auto;
}
