/* ========================================
// Legal Navigation
// ===================================== */

.nav-legal {

  ul {

    &:after {
      @mixin clear;
    }

  }

    li {
      margin-bottom: 0;
      
      @mixin media $big {
        float: left;
      }

      &:last-child {

        &:after {
          display: none;
        }

      }

      &:after {

        @mixin media $big {
          display: inline-block;
          vertical-align: top;
          margin: 0 em(6);
          content: '|';
        }

      }

    }

      a {
        display: inline-block;
        vertical-align: top;
        font-size: em(17);
        border-radius: em(4, 17);
        color: inherit;

        &:hover {
          background: $m2;
        }

      }

}
