/* ========================================
// Main Navigation
// ===================================== */

@define-mixin tier-one {
  padding: em(10, 24) em(20, 24);
  font-size: em(24);
  color: $m1;

  &:hover {
    background: $m2;
    color: #fff;
  }

}

.nav-main {

  @mixin media $silkDrawerDisappears {
    float: right;
    width: auto;
  }

  > ul {

    > li {
      border-bottom: 1px solid $m1;
      margin-bottom: 0;

      @mixin media $silkDrawerDisappears {
        position: relative;
        float: left;
        border-bottom: 0;
      }

      &:last-child {
        border-bottom: 0;

        > a {

          &:after {
            display: none;
          }

        }

      }

      &:hover {

        > ul {

          @mixin media $silkDrawerDisappears {
            display: block;
          }

        }

      }

      > a {
        @mixin tier-one;

        @mixin media $silkDrawerDisappears {
          z-index: 2;
          padding: em(36, 24) em(30, 24) em(35, 24);
        }

        &:before {

          @mixin media $silkDrawerDisappears {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -2;
            height: 50%;
            width: 80%;
            content: '';
            background: $m2;
            border-radius: em(8);
            transform:
              translate(-50%, -50%)
              scale(0);
            transition: transform .2s;
          }

        }

        &:after {

          @mixin media $silkDrawerDisappears {
            position: absolute;
            top: 50%;
            left: 100%;
            content: '|';
            color: $m1;
            transform: translate(0, -50%);
          }

        }

        &:hover {

          @mixin media $silkDrawerDisappears {
            background: none;
          }

          &:before {

            @mixin media $silkDrawerDisappears {
              transform:
                translate(-50%, -50%)
                scale(1);
            }

          }

        }

      }

      ul {
        background: #fff;

        a {
          padding: em(10);
        }

        > a {
          @mixin tier-one;
          padding-left: em(70);
        }

      }

    }

  }

}
