/* ========================================
// Social Navigation
// ===================================== */

.nav-social {
  margin-bottom: em(15);
  font-size: rem($bodySize);

  @mixin media $huge {
    padding-top: em(25);
  }

  ul {

    &:after {
      @mixin clear;
    }

  }

    li {
      float: left;
      margin-right: em(8);
      margin-bottom: 0;
    }

      a {
        position: relative;
        height: em(33);
        width: em(33);
        background: #fff;
        border-radius: 100%;

        &:before {

          @mixin media $silkDrawerDisappears {
            position: absolute;
            top: 50%;
            left: 50%;
            height: em(60);
            width: em(60);
            content: '';
            box-shadow: 0 0 0 em(3) #fff;
            transform:
              translate(-50%, -50%)
              rotate(-90deg)
              scale(0);
          }

        }

        &:hover {

          &:before {

            @mixin media $silkDrawerDisappears {
              animation: boom 1s forwards;
            }

          }

        }

      }

        .bottle {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        svg {
          display: block;
          fill: $m1;
        }

}

@keyframes boom {

  25% {
    border-radius: 0;
  }

  50% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    border-radius: 100%;
    opacity: 0;
    visibility: hidden;
    transform:
      translate(-50%, -50%)
      rotate(0)
      scale(1);
  }

}
