//- ========================================
//- Home Page
//- ========================================

extends ../templates/main.jade

block content
  .hero--cover
    .hero.hero--absolute
      +image("hero.jpg")
    .compartment
      .grid.grid--20.flex.flex--centered
        .col-flush.col-wooser-8
          h1.hero__title Healthcare for Maryland,  by Marylanders.
          .col-wooser-9
            p Evergreen Health is a nonprofit that’s leading the charge to bring smart, honest, and affordable high-quality health insurance to all Marylanders. 
            ul
              li We’re governed by our members—not shareholders — ensuring that decisions are based on people, not profits. 
              li We’re committed to making you an advocate for your health by simplifying today’s complex healthcare system. 
              li We’re proving to America that a concierge-style healthcare experience can offer high-quality, personal care—affordably.
            .button.marketo__trigger(href="") Request Info
        .col-big-8.col-wooser-4
          .marketo-form
            span.marketo__close
              +symbol("close")
            h4 We’re Evergreen.#[br]#[span.normal How can we help you?]
            <script src="//app-ab08.marketo.com/js/forms2/js/forms2.min.js"></script>
            <form id="mktoForm_1162"></form>
            <script>MktoForms2.loadForm("//app-ab08.marketo.com", "304-HHX-644", 1162);</script>
