//- ========================================
//- Thank You
//- ========================================

extends ../templates/main.jade

block theme
  - theme = "thank-you"
  
block content
  .hero--cover.hero--expanded
    .hero.hero--absolute
      +image("hero.jpg")
    .compartment
      .grid.grid--20.flex.flex--centered
        .col-flush.col-wooser-7.push-right
          h1.hero__title Thank you  for considering Evergreen Health.
          p #[strong Your information has been submitted, and we’ll be contacting you shortly.]#[br]In the meantime, learn a little more about how healthcare works.
          a.button(href="") Healthcare 101
        .col-big-8.col-wooser-5
          blockquote Health insurance shouldn’t be  a privilege reserved for the few. That’s why we founded Evergreen Health. We knew Marylanders deserved a new health insurance option. One that put members first, not profits.”
            cite - Peter Beilenson, CEO, Evergreen Health
