/* ========================================
// Drawer Mixin
// ===================================== */

@define-mixin drawer $transform-intensity: 20% {
  position: absolute;
  width: 100%;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
}

@define-mixin visible-drawer {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
}

@define-mixin reset-drawer {
  @mixin visible-drawer;
  position: static;
  overflow: inherit;
  max-width: 100%;
  background: none;
}


/* ========================================
// Drawer
// ===================================== */

.drawer {
  @mixin drawer;
  top: 100%;
  right: 0;
  z-index: 200;
  overflow: hidden;
  max-width: em(340);
  background: #fff;
  transition:
    opacity .3s,
    visibility .3s;

  @mixin media $silkDrawerDisappears {
    @mixin reset-drawer;
  }

  .visible-drawer & {
    @mixin visible-drawer;

    @mixin media $silkDrawerDisappears {
      @mixin reset-drawer;
    }

  }

}


/* ========================================
// Drawer Trigger
// ===================================== */

.drawer__trigger {
  position: absolute;
  top: 0;
  right: 0;
  height: em(100);
  width: em(70);
  border: 0;
  padding: 0;
  outline: 0;
  cursor: pointer;
  background: none;

  @mixin media $silkDrawerDisappears {
    display: none;
  }

  &:before,
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    height: em(4);
    width: em(30);
    content: '';
    background: currentColor;
    color: $m1;
    transform: translate(-50%, -50%);
    transition:
      background .4s,
      box-shadow .4s,
      margin .4s,
      transform .4s;
  }

  &:before {
    margin-top: em(-8);

    .visible-drawer & {
      margin-top: 0;
      transform:
        translate(-50%, -50%)
        rotate(-45deg);
    }

  }

  &:after {
    box-shadow: 0 em(8) 0 0 currentColor;

    .visible-drawer & {
      box-shadow: 0 0 0 0 transparent;
      transform:
        translate(-50%, -50%)
        rotate(45deg);
    }

  }

}
