//- ========================================
//- Site Footer
//- ========================================

footer.site__footer
  .compartment
    .lace
      nav.nav.nav-social
        include ../blocks/nav-social.jade
      p.tiny-print &copy; 2016 Evergreen Health Cooperative
      nav.nav.nav-legal
        include ../blocks/nav-legal.jade
    .col-small-10.sole
      p.tiny-print
        strong Sign up for our newsletter
      p.mini-print Learn about upcoming events, get health advice, and see the difference innovative healthcare is making in Maryland.
      +input("Email Address", "submit")

script(src="assets/js/build/main.js")
script(src="assets/js/build/site.js")
