//- ========================================
//- Site Head
//- ========================================

head
  meta(charset="utf-8")
  title Title of site
  meta(
    http-equiv="X-UA-Compatible",
    content="IE=edge"
  )
  meta(
    name="description",
    content=""
  )
  meta(
    name="viewport",
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
  )
  link(
    href="assets/css/styles.css",
    rel="stylesheet"
  )
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
