@define-mixin compartment $max-width: $boundary {
  position: relative;
  max-width: rem($max-width);
  margin-right: auto;
  margin-left: auto;
}

.compartment {
  @mixin compartment;

  &--nested {
    max-width: rem(980);
  }

}
